[Unit]
Description=Xinetd A Powerful Replacement For Inetd
After=network.target
Documentation=man:xinetd
Documentation=man:xinetd.conf
Documentation=man:xinetd.log

[Service]
Type=simple
ExecStart=/usr/sbin/xinetd -stayalive -dontfork
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
